*{
    margin: 0;
    padding: 0;
}

.fish{
    width: 100px;
}

.player-one{
    width: 100px;
    height: 100px;
    background-color: blue;
}

.player-two{
    width: 100px;
    height: 100px;
    background-color: red;
}